@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --firstMainColor : #81c408;
    --secondMainColor : #ffb524;
    --yellow : #ffb524;
    --white : #FFFFFF;
    /* --gray : rgba(0,0,0,.55); */
    --gray : #747d88;
    --black : #45595b;
}